@font-face {
	font-family: bowhouse;
	src: url('../fonts/bowhouse.light.otf');
}

body {
	margin: 0;
	min-width: 1024px;
	min-height: 512px;

	font-family: bowhouse;

	overflow: hidden;
}

#corpo {
	background: #3080a0;

	width: 100%;
	height: 100vh;

	text-align: center;
}

#rodape {
	font-size: 32px;

	position: absolute;
	bottom: 0;

	width: 100%;

	background: #302f80;
	color: white;
	
	text-align: center;

	cursor: pointer;
}

#menu {
	position: absolute;
	top: 20%;

	width: 100%;
	height: 60%;

	background: rgba(255,255,255,0.5);

	display: none;
}

.menu-element {
	position: absolute;

	top: 50%;
	margin-top: -50px;

	left: 50%;
	margin-left: -50px;

	background: transparent;

	border: 1px solid black;

	width: 100px;
	height: 100px;

	border-radius: 51px;
}

.menu-element:hover {
	background-color: rgba(255,255,255,0.5);
}

.vote {
	background-image: url('../icons/vote.png');
}

.add {
	background-image: url('../icons/add.png');
}

.edit {
	background-image: url('../icons/edit.png');	
}

.menu-text {
	color: white;

	position: absolute;
	width: 100px;

	text-align: center;
	
	bottom: -46px;

	font-size: 32px;
}

#menu-a {
	position: absolute;

	height: 100%;
	width: 33.3%;

	left: 0;
}

#menu-b {
	position: absolute;

	height: 100%;
	width: 33.3%;

	left: 33.3%;
}

#menu-c {
	position: absolute;

	height: 100%;
	width: 33.3%;

	left: 66.6%;
}

a {
	text-decoration: none;
	color: white;
}

#panel {
	position: absolute;

	top: 0;
	left: 0;

	width: 256px;
	height: 100%;

	background: rgba(255,255,255,0.5);

	overflow: hidden;
}

#panel-scroll {
	position: absolute;

	top: 0;
	right: 0px;

	background: #3080a0;

	width: 12px;
	height: 64px;

	cursor: pointer;
}

.panel-item {
	color: white;

	font-size: 32px;
	text-align: center;

	cursor: pointer;
}

.backbutton {
	position: absolute;

	top: 50px;
	right: 50px;

	width: 50px;
	height: 50px;
	background-image: url('../icons/goback.png');

	border: 2px solid white;

	border-radius: 27px;

	cursor: pointer;
}

.backbutton:hover {
	background-color: rgba(255,255,255,0.5);
}

.positive {
	position: absolute;

	bottom: 50px;
	left: 50%;
	margin-left: 178px;

	width: 50px;
	height: 50px;
	background-image: url('../icons/positive.png');

	border: 2px solid white;

	border-radius: 27px;

	cursor: pointer;
}

.positive:hover {
	background-color: rgba(255,255,255,0.5);
}

.negative {
	position: absolute;

	bottom: 50px;
	left: 50%;
	margin-left: 28px;

	width: 50px;
	height: 50px;
	background-image: url('../icons/negative.png');

	border: 2px solid white;

	border-radius: 27px;

	cursor: pointer;
}

.negative:hover {
	background-color: rgba(255,255,255,0.5);
}

.key {
	font-size: 26px;

	background: white;
	color: black;

	border-radius: 2px;

	border-bottom: 8px solid gray;

	padding: 4px;

	margin: 2px;
}

.float-right {
	float: right;
}